<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyPartyApp"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".CartoonsActivity2"
            android:exported="false" />
        <activity
            android:name=".CartoonsActivity1"
            android:exported="false" />
        <activity
            android:name=".CartoonsActivity"
            android:exported="false" />
        <activity
            android:name=".MyAdapter1"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".FoodBabies"
            android:exported="false" />
        <activity
            android:name=".ActivitiesBabies"
            android:exported="false" />
        <activity
            android:name=".Menubabies"
            android:exported="false" />
        <activity
            android:name=".Models"
            android:exported="false" />
        <activity
            android:name=".NewBabies"
            android:exported="false" />
        <activity
            android:name=".Adults"
            android:exported="false" />
        <activity
            android:name=".Teens"
            android:exported="false" />

        <activity
            android:name=".GraduationActivity"
            android:exported="false" />
        <activity
            android:name=".BabyshowerActivity"
            android:exported="false" />
        <activity
            android:name=".WeddingActivity"
            android:exported="false" />
        <activity
            android:name=".BirthdayActivity"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:theme="@style/Theme.MyPartyApp">

        </activity>
        <activity
            android:name=".Registration"
            android:exported="false"
            android:theme="@style/Theme.MyPartyApp" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>